<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </nav>
        </div>
    <h1 class="name"> Thank you {{name*4}} </h1>
    <br>
    
        <p>
        Is C++ best programming language?
The answer depends on perspective and requirements. Some tasks can be done in C++, though not very quickly. For example, designing GUI screens for applications.

Other languages like Visual Basic, Python have GUI design elements built into them. Therefore, they are better suited for GUI type of task.

Some of the scripting languages that provide extra programmability to applications. Such as MS Word and even photoshop tend to be variants of Basic, not C++.

C++ is still used widely, and the most famous software have their backbone in C++.
    </p><br>
    <p>
        Is C++ best programming language?
The answer depends on perspective and requirements. Some tasks can be done in C++, though not very quickly. For example, designing GUI screens for applications.

Other languages like Visual Basic, Python have GUI design elements built into them. Therefore, they are better suited for GUI type of task.

Some of the scripting languages that provide extra programmability to applications. Such as MS Word and even photoshop tend to be variants of Basic, not C++.

C++ is still used widely, and the most famous software have their backbone in C++.
    </p><br>
    <p>
        Is C++ best programming language?
The answer depends on perspective and requirements. Some tasks can be done in C++, though not very quickly. For example, designing GUI screens for applications.

Other languages like Visual Basic, Python have GUI design elements built into them. Therefore, they are better suited for GUI type of task.

Some of the scripting languages that provide extra programmability to applications. Such as MS Word and even photoshop tend to be variants of Basic, not C++.

C++ is still used widely, and the most famous software have their backbone in C++.
    </p><br>
    <p>
        Is C++ best programming language?
The answer depends on perspective and requirements. Some tasks can be done in C++, though not very quickly. For example, designing GUI screens for applications.

Other languages like Visual Basic, Python have GUI design elements built into them. Therefore, they are better suited for GUI type of task.

Some of the scripting languages that provide extra programmability to applications. Such as MS Word and even photoshop tend to be variants of Basic, not C++.

C++ is still used widely, and the most famous software have their backbone in C++.
    </p><br>
    {%extends "base.html"%}
    {%block p%}
    t is important for students to know how to write a conclusion, whether to drive the final point home or to transition to the next point. Writing a conclusion clinches everything mentioned in a paragraph. A conclusion may restate the claim in the topic sentence, but now it has all the supporting details behind it. Whether the conclusion reinforces the topic or leads into the following topic, a paragraph’s concluding sentence plays an important role
    {%endblock%}
</body>
</html>